@model Slider


<div>
	<h4>Title:</h4>
	<p>@Model.Title</p>
	<h4>SubTitle:</h4>
	<p>@Model.SubTitle</p>
	<h4>Button:</h4>
	<p>@Model.Button</p>
	<h4>Image:</h4><br />
	<img src="~/assets/img/slide/@Model.Image" style="width:500px;height:250px" alt="...">
</div>
<div>
	<form method="post" class="mt-4">
		<button type="submit" asp-action="DeleteSlid" asp-route-id="@Model.Id" class="  btn btn-inverse-danger">Delete</button>

	</form>
	</div>